footer {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35rem;
}

#page-footer {
  width: 100vw;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  position: absolute;
}

.footer-container {
  width: 100vw;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #270d41;
  background-image: url(images/footer-design.png);
  border-radius: 10px;
  box-shadow: -2px 24px 30px 0px rgba(39, 13, 65, 0.37);
  margin-bottom: 9rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 1110px;
  height: 408px;
  color: #fff;
  backdrop-filter: blur(5px);
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #f7b948;
}

.top-row {
  display: flex;
  gap: 34rem;
}

.footer-logo {
  width: 78px;
  height: 78px;
  margin-right: 1rem;
  margin-top: 1rem;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28.3rem;
  gap: 2rem;
  height: 56px;
  font-size: 22px;
  margin-right: 0.6rem;
}

.btn5 {
  width: 189px;
  height: 56px;
  background-color: #9949ff;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  border: none;
}

.middle-row {
  display: flex;
  gap: 7.1rem;
  width: 979px;
  margin-right: 5.5rem;
  margin-top: -1rem;
}

.column1 {
}

.newsletter {
  font-size: 22px;
  line-height: 29px;
  margin: 0;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

input {
  width: 278px;
  height: 47px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #979797;
}

input::placeholder {
  color: #979797;
  font-size: 15px;
}

.submit-button {
  background-color: #f7b948;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 0 8px 8px 0;
  border: none;
}

.column2 {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 2rem;
}

.column3 {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 2rem;
}

.column4 {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 2rem;
}

.bottom-row {
  display: flex;
  gap: 38rem;
}

.bottom-links a {
  margin-right: 2rem;
  font-size: 15px;
}

.social-icons i {
  margin-left: 2rem;
  font-size: 25px;
}
