#works{
  width: 1850px;
  height: 472px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-image: url(images/works\ bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(315deg, #DA22FF, #9733EE 15%, black 50%, #9733EE 85%, #DA22FF 100%);
  
}

.works-container{
  width: 1280px;
  height: 268px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.works-header{
  width: 290px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works-header .section-header{
  font-size: 42px;
  font-weight: 800;
  color: #E0EAFC;
  color: #CFDEF3;
}

.works-steps{
  width: 1500px;
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.works-steps i{
  color: #f7b948;
  font-size: 24px;
  padding-bottom: 15px;
}

.works-steps i::after{
  content: " ";
  display: block;
  width: 190px;
  height: 2px;
  background: #f7b948;
  position: absolute;
  left: 35px;
  top: 50%;
  z-index: -2;
}


.works-steps h2{
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
  color: #E0EAFC;
  color: #CFDEF3;
}

.works-steps p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #E0EAFC;
  color: #CFDEF3;
}

.details-dash{
  display: flex;
  align-items: center;
}

.details-dash p{
  font-size: 20px;
  color: #f7b948;
  margin-bottom: 0.5rem;
  margin-left: 10px;
}